extends layout
block content
  .container
      h2 
        p
         | Weather App in NodeJS using Open Weather API
      br
      br
      .row
        .col-md-6
          form.form-inline(method="post", action="weather")
            .form-group
              label.sr-only(for="inputEmail") City Name
              input.form-control( name="city" type="text" placeholder="Enter City Name" )
            |    
            button.btn.btn-primary(type="submit") Fetch Weather
        hr
      .row
       .col-md-12
              if body
                if body.main
                        .card
                        .card-header Weather Forecast #{forecast}
                        .card-body 
                        p Temperature:  #{body.main.temp}
                        p Humdity:  #{body.main.humidity}
                else
                if body.wind
                        p Speed:  #{body.wind.speed}
                        .card-footer Weather App
                else
              else
                   .card
                   .card-header Weather Forecast App
                   .card-body
                   .card-footer Enter city name and click Fetch Weather button